<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <meta charset=utf-8 />
  <title>Example</title>
</head>
<body ng-app="parseSimple">
<div id="main">
    
    <div class="posts" ng-controller="PostCtrl">
       <h3>Posts:</h3>
       {{ posts }}
       <div class="post" ng-repeat="post in posts" track-by $id>
          <h4>{{ post }}</h4>
          <p>{{ post }}</p>
        </div>

        <h3>Make a post</h3>
        Title: <input type="text" ng-model="post.title" /><br />
        Body: <input type="text" ng-model="post.body" /><br />
        <button ng-click="createPost(post)">Make Post</button>
      </div>

</div>


  <script src="app.js"></script>
  <script src="postCtrl.js"></script>
</body>
</html>


